@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
  font-family: "Alata";
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.block{
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 0;
  margin: 2px 2px;
  max-width: 10%;
  height: 31.5px;
}